.card-container {
	width: 300px;
	text-align: center;
	margin: 50px auto;
}

.card-avatar {
	margin: 10px auto;
	width: 40% !important;
	height: 120% !important;
}

.details-btn {
	text-decoration: none;
}

.home-loading {
	text-align: center;
	margin-top: 100px;
}
