.user-gists {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.gist {
	display: flex;
	justify-content: space-around;
	border: 1px dotted blueviolet;
	border-radius: 8px;
	margin: 2px auto;
	width: 90%;
	height: 70px;
}

.gist:hover {
	background-color: blueviolet;
	color: aliceblue;
	border: 1px solid white;
}

.gist-name {
	flex: 1;
	text-align: center;
}

.gist-url {
	flex: 1;
	margin: auto;
	text-decoration: none;
	color: black;
	font-size: 1rem;
}

.gist-url:hover {
	color: aliceblue;
}
